.balao{
    background: #e8e8e8;
    border-radius: 0 30px 30px 0;
    width: 228px;
    height: 100px;
    border-radius: 15px;

    /* Position relative para a seta não exceder os limites do balão, já que vamos usar position absolute nele */
    position: relative;

    margin-bottom: 1em;
}
.balao:after{
    /* content necessário para a criação de um elemento vazio */
    content: "";

    width: 0; 
    height: 0;

    /* position: absolute para manipularmos a posição da seta */
    position: absolute;

    /* Right com valor negativo para ele ficar para fora do balão de dialogo */
    right: -32px;

    /* E aqui o truque com as bordas */
    /* 50px é a metade da altura do elemento, assim temos uma seta da mesma altura que nosso elemento */
  
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #e8e8e8;
    border-radius: 50%;

}
.escrita { 
font-size: 26px;
color: white; 
text-align: center; 
text-shadow: 1px 0px 0px black;
margin-left: 50px;
margin-top: -15px;
font-family: font-family: 'Cookie', cursive;
}
.imagem { 
width: 200px; 
height: 80px;
margin-top: 10px;
margin-left: 10px;
border-radius: 10px 10px 10px 10px;
}