.fundo1 {
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443); /* IE6,IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443)"; /* IE8, IE9 */
   -webkit-transform: rotate(40deg);
   -moz-transform: rotate(40deg);
   -o-transform: rotate(40deg);
   -sand-transform: rotate(40deg);
   transform: rotate(40deg);
   background-color: #282828; width: 100px; height: 100px; margin-top: 100px;
}

.fundo2 {

filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443); /* IE6,IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443)"; /* IE8, IE9 */
   -webkit-transform: rotate(40deg);
   -moz-transform: rotate(40deg);
   -o-transform: rotate(40deg);
   -sand-transform: rotate(40deg);
   transform: rotate(40deg);
  background-color: #b26565; width: 100px; height: 10px; margin-top: -10px; margin-left: -37px;
}

.fundo3 {
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443); /* IE6,IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.766044443, M12=-0.64278761, M21=0.64278761, M22=0.766044443)"; /* IE8, IE9 */
   -webkit-transform: rotate(40deg);
   -moz-transform: rotate(40deg);
   -o-transform: rotate(40deg);
   -sand-transform: rotate(40deg);
   transform: rotate(40deg);
  background-color: lightgray; width: 100px; height: 5px; margin-top: -11px; margin-left: -34px;
}
.imagem {
padding: 5px;
}
.write {
margin-top: 180px; 
margin-left: -5px; 
text-shadow: 1px 0px 0px black;
font-size: 24px;
text-transform: lowercase;
}
.sub { 
line-height: 70%; font-family: calibri; font-size: 8px; color: #828282; text-align: center; letter-spacing: 4px; text-transform: uppercase;
}