.wildh-b1 { width: 824px; border: 1px solid #eaeaea; padding: 2px; }
.wildh-b2 { width: 800px; background: #f1f1f1; padding: 12px; }

.wildh-b4 { width: 780px; background: #f9f9f9; border: 1px solid #e1e1e1; padding: 4px; }
.wildh-b5 { width: 760px; padding: 30px; text-align: justify; font-family: 'Palanquin', sans-serif; font-size: 10px; color: #777; text-transform: lowercase; line-height: 130%; background: #fefefe;width: 720px;}
.wildh-b5 b { font-size: 11px; color: #ebc0c0; font-weight: bold;}